<h2>Crea nuevos productos</h2>

<form>
    <label for="category">Categoría:</label><br>
    <input type="text" id="category" name="category"><br>

    <label for="title">Producto:</label><br>
    <input type="text" id="title" name="title"><br>

    <label for="stock">Unidades:</label><br>
    <input type="text" id="stock" name="stock"><br>

    <button type="button" id="create_btn">Crear</button>
</form>


<h2>Actualiza tus productos</h2>
<form>
    <label for="pid">ID:</label><br>
    <input type="text" id="pid_upd" name="pid"><br>

    <label for="title">Producto:</label><br>
    <input type="text" id="title_upd" name="title"><br>

    <label for="stock">Unidades:</label><br>
    <input type="text" id="stock_upd" name="stock"><br>

    <button type="button" id="update_btn">Actualizar</button>
</form>


<h2>Elimina un producto</h2>
<form>
    <label for="pid">ID:</label><br>
    <input type="text" id="pid_delete" name="pid"><br>
    <button type="button" id="delete_btn">Eliminar</button>
</form>