<h2>Registrate!</h2>

<form>
    <label for="photo_user">Foto:</label><br>
    <input type="text" id="photo_user" name="photo_user"><br>

    <label for="email">email:</label><br>
    <input type="text" id="email" name="email"><br>

    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br>

    <label for="role">Rol:</label><br>
    <input type="text" id="role" name="role"><br>

    <button type="button" id="create_user_btn">Crear</button>

</form>